extends layout

block content
  h1= title

  each message in messages
    div
      h2.user= message.user
      p.date= message.added
      p.content= message.text 

  // Add a button that links to /new
  a(href="/new")
    button Write Message
